body{
    background-color: #D8F3DC;
    font-family: monospace;
    color: #2D6A4F;
    font-size: 14px;
    padding: 3%;
}
div.header-title h1{
    text-align: center;
    padding: 10px 50px 10px 50px;
    margin: auto;
    color: #1B4332;
}

div.header-text{
    height: 300px;
    position: relative;
}
#minha-foto{
    float: left;
    width: auto;
    height: 280px;
    padding: 10px;
    background-color: #74C69D;
}

div.header-text p{
    position: absolute;
    left: 25%;
    margin: 25px 5px 25px 5px;

}

ul li:nth-child(odd){
    background-color: #B7E4C7;
    width: max-content;
}

/*div{
    border: 1px solid greenyellow;
}*/

a{
    text-decoration: none;
    color: #52B788;
    padding: 10px;
}

a:hover{
    color: #081C15;
    text-transform: uppercase;
    text-decoration: solid;
    font-weight: bold;
}