body{
    background-color: #0A100D;
    font-family: monospace;
    color: #D6D5C9;
    font-size: 14px;
    padding: 3%;
}
div.header-title h1{
    text-align: center;
    padding: 10px 50px 10px 50px;
    margin: auto;
    color: #D6D5C9;
}

div.header-text{
    height: 300px;
    position: relative;
}
#minha-foto{
    float: left;
    width: auto;
    height: 280px;
    padding: 10px;
    background-color: #D6D5C9;
}

div.header-text p{
    position: absolute;
    left: 25%;
    margin: 25px 5px 25px 5px;

}

ul li:nth-child(odd){
    background-color: #902923;
    width: max-content;
}

/*div{
    border: 1px solid greenyellow;
}*/

a{
    text-decoration: none;
    color: white;
    padding: 10px;
}

a:hover{
    color: red;
}